* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    padding: 20px;
    margin: 20px;
}

h1 {
    color: rgb(22, 22, 22);
    text-align: center;
    font-family: 'Arial', sans-serif;
}

h1:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    transition: all 0.3s ease;
}

h2 {
    color: rgb(22, 22, 22);
    font-family: 'Arial', sans-serif;
}

h2:hover {
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;

}


